body{background:#ddd;font-family:helvetica,sans-serif;}
.hidden{display:none;}
#colors{position:fixed;top:0;left:100px;}#colors p{background-color:#5fab42;border-left:4px solid #278e00;border-right:4px solid #278e00;width:80px;height:32px;color:#fff;font-size:22px;line-height:32px;margin:0;display:inline-block;}#colors p span{display:inline-block;width:40px;padding:0;margin:0;text-align:center;}
#colors p:nth-child(2){background-color:#427caf;border-color:#004e93;}
#colors p:nth-child(3){background-color:#ca8542;border-color:#b85b00;}
#colors p:nth-child(4){background-color:#42c9ca;border-color:#00b6b8;}
#colors p:nth-child(5){background-color:#8c4cca;border-color:#640eb8;}
#colors p:nth-child(6){background-color:#ca4242;border-color:#b80000;}
#log{width:120px;background-color:#f1f1f1;}
#main-container{position:relative;min-height:1200px;}
#cells-positioner{height:800px;width:1200px;position:absolute;left:50%;margin-left:-600px;}
#cells-container{height:800px;width:1200px;display:table-cell;vertical-align:middle;text-align:center;}#cells-container .inner{display:inline-block;}
.row{text-align:center;margin:0 0 -32px;}.row:last-child{margin:0;}
.hex-c{margin:auto;position:relative;margin:-2px 2px;display:inline-block;width:80px;opacity:0;}.hex-c.visible-1{opacity:1;-webkit-transition:opacity .4s;transition:opacity .4s;}
.hex-c.visible-2{opacity:1;-webkit-transition:opacity .6s;transition:opacity .6s;}
.hex-c.visible-3{opacity:1;-webkit-transition:opacity .8s;transition:opacity .8s;}
.hex{transform:scaleY(0.82);height:96px;position:relative;width:100%;overflow:hidden;cursor:pointer;text-align:center;line-height:96px;}.hex i.fa{width:60px;height:60px;line-height:60px;text-align:center;position:absolute;top:16px;left:12px;font-size:40px;color:#fff;visibility:visible;z-index:10;}
.in1{overflow:hidden;width:100%;height:100%;transform:rotate(-60deg);}
.in2{width:100%;height:100%;visibility:visible;transform:rotate(-60deg);background-color:#7b7b66;position:relative;opacity:.2;}.in2:hover{opacity:.98;}.in2:hover p{display:block;}
.in2 p,.in2 a{padding:0;margin:0;}
.in2 p{position:absolute;display:none;background:#fff;width:50%;height:100%;overflow:hidden;}.in2 p a{display:block;height:50%;width:100%;position:absolute;background-color:#278e00;}.in2 p a:hover{background-color:#5fab42;}
.in2 p a:nth-child(2){transform:rotate(-60deg);top:30.6%;right:26.8%;background-color:#004e93;}.in2 p a:nth-child(2):hover{background-color:#427caf;}
.in2 p a:nth-child(3){transform:rotate(-120deg);top:55.2%;right:-24%;background-color:#b85b00;}.in2 p a:nth-child(3):hover{background-color:#ca8542;}
.in2 p:last-child{background:green;left:50%;}.in2 p:last-child a{background-color:#00b6b8;}.in2 p:last-child a:hover{background-color:#42c9ca;}
.in2 p:last-child a:nth-child(2){transform:rotate(60deg);left:26.8%;background-color:#640eb8;}.in2 p:last-child a:nth-child(2):hover{background-color:#8c4cca;}
.in2 p:last-child a:nth-child(3){transform:rotate(120deg);left:-24%;background-color:#b80000;}.in2 p:last-child a:nth-child(3):hover{background-color:#ca4242;}
.umap{position:absolute;top:25%;left:25%;width:50%;height:25%;padding-top:25%;text-align:center;line-height:50%;}.umap .planet{margin:0 auto;border:2px solid #fff;border-radius:20px;background-color:#333333;}
.umap .planet-1{width:8px;height:8px;margin-top:-4px;}
.umap .planet-2{width:10px;height:10px;margin-top:-5px;}
.umap .planet-3{width:12px;height:12px;margin-top:-6px;}
.umap .planet-4{width:14px;height:14px;margin-top:-7px;}
.umap .planet-5{width:16px;height:16px;margin-top:-8px;}
.umap .planet-6{width:18px;height:18px;margin-top:-9px;}
.umap .planet-7{width:20px;height:20px;margin-top:-10px;}
.umap .planet-8{width:22px;height:22px;margin-top:-11px;}
.umap .planet-9{width:24px;height:24px;margin-top:-12px;}
.umap .planet-10{width:26px;height:26px;margin-top:-13px;}
.umap .link{width:42px;height:2px;margin-top:-1px;background-color:#aaaaaa;position:absolute;display:none;z-index:-1;}
.umap .link-1,.umap .link-4{transform:rotate(55deg);width:38px;}
.umap .link-3,.umap .link-6{transform:rotate(-55deg);width:38px;}
.umap .link-1{top:17%;left:-22%;}
.umap .link-2{top:50%;left:-54%;}
.umap .link-3{top:89%;left:-24%;}
.umap .link-4{top:88%;left:34%;}
.umap .link-5{top:50%;left:54%;}
.umap .link-6{top:17%;left:30%;}
