@baseHexColor: #7b7b66;
@baseLinkColor: #aaa;

@basePlanetColor: #333;
@wildPlanetColor: #8b6c21;
@uePlanetColor: #2a5096;

@resource1: #b80000;
@resource1Hover: #ca4242;

@resource2: #278e00;
@resource2Hover: #5fab42;

@resource6: #004e93;
@resource6Hover: #427caf;

@resource3: #b85b00;
@resource3Hover: #ca8542;

@resource4: #00b6b8;
@resource4Hover: #42c9ca;

@resource5: #640eb8;
@resource5Hover: #8c4cca;

@baseImgLoc : '../img/';


body {
  background: #ddd;
  font-family: helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hidden{
  display: none;
}
/*color check*/
#main-menu {
  position: fixed;
  top:0;
  left: 0;
  margin: 0;
  padding: 0;
  .top {
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #333;
    background-color: #fff;
    padding: 5px;
    >div {
      display: inline-block;
    }
    .year-c{
      width: 181px;
    }
  }
  .left {
    width: 200px;
    padding: 5px;
    border-right:3px solid #333;
    margin-top:-3px;
    position: relative;
    left:-188px;
    background-color: #fff;
    .resources p{
      background-color: @resource1Hover;
      border-left: 4px solid @resource1;
      border-right: 4px solid @resource1;
      width: 80px;
      height: 32px;
      color: #fff;
      font-size: 22px;
      line-height: 32px;
      margin: 0;
      display: inline-block;
      span{
        display: inline-block;
        width: 40px;
        padding: 0;
        margin: 0;
        text-align: center;
      }
      &:nth-child(2){
        background-color: @resource2Hover;
        border-color: @resource2;
      }
      &:nth-child(3){
        background-color: @resource3Hover;
        border-color: @resource3;
      }
      &:nth-child(4){
        background-color: @resource4Hover;
        border-color: @resource4;
      }
      &:nth-child(5){
        background-color: @resource5Hover;
        border-color: @resource5;
      }
      &:nth-child(6){
        background-color: @resource6Hover;
        border-color: @resource6;
      }
    }
  }
}
/* log area */
#log{
  width: 120px;
  background-color: #f1f1f1;
}
#board-scroll{
  position: fixed;
  top:53px;
  left: 6px;
  overflow: scroll;
  width: 1000px; // update by js on resize
  height: 700px; // updated by js on resize
}
/* main container */
#main-container{
  position: relative;
  min-height: 1200px;
  min-width: 1200px;
}

#cells-container{
  height: 1200px;
  width: 1200px;

  display: table-cell;
  vertical-align: middle;
  text-align:center;
  .inner{
    display: inline-block;
  }
}

.row{
  text-align: center;
  margin: 0 0 -32px;
  &:last-child{
    margin:0;
  }
}

/* actual cells container */
.hex-c {
  margin: auto;
  position: relative;
  margin: -2px 2px;
  display: inline-block;

  //transform:scaleY(.82);

  width: 80px; // this is hex size

  opacity: 0;
  &.visible-1{
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  &.visible-2{
    opacity: 1;
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
  }
  &.visible-3{
    opacity: 1;
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
  }

}

.hex {
  transform:scaleY(.82);

  height: 96px; // this has to be 120% of hex size (in px)
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  line-height: 96px;
  i.fa{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top:16px;
    left:12px;
    font-size: 40px;
    color: #fff;
    visibility:visible;
    z-index: 10;
  }
}

.in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}

.in2 {
  width: 100%;
  height: 100%;
  visibility: visible;
  transform: rotate(-60deg);
  background-color: @baseHexColor;
  position: relative;
  opacity: .2;
  cursor: pointer;
  &:hover{
    opacity: .3;
  }
}

.umap{
  position: absolute;
  top:25%;
  left:25%;
  width: 50%;
  height: 25%;
  padding-top: 25%;
  text-align: center;
  line-height: 50%;
  .planet{
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: @basePlanetColor;
  }

  .planet-1{
    width: 8px;
    height: 8px;
    margin-top: -4px;
  }
  .planet-2{
    width: 10px;
    height: 10px;
    margin-top: -5px;
  }
  .planet-3{
    width: 12px;
    height: 12px;
    margin-top: -6px;
  }
  .planet-4{
    width: 14px;
    height: 14px;
    margin-top: -7px;
  }
  .planet-5{
    width: 16px;
    height: 16px;
    margin-top: -8px;
  }
  .planet-6{
    width: 18px;
    height: 18px;
    margin-top: -9px;
  }
  .planet-7{
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }
  .planet-8{
    width: 22px;
    height: 22px;
    margin-top: -11px;
  }
  .planet-9{
    width: 24px;
    height: 24px;
    margin-top: -12px;
  }
  .planet-10{
    width: 26px;
    height: 26px;
    margin-top: -13px;
  }


  .link{
    width: 42px;
    height: 2px;
    margin-top:-1px;
    background-color: @baseLinkColor;
    position: absolute;
    display: none;
    z-index: -1;
  }
  .link-1, .link-4{
    transform:rotate(55deg);
    width: 38px;
  }
  .link-3, .link-6{
    transform:rotate(-55deg);
    width: 38px;
  }

  .link-1{
    top: 17%;
    left: -22%;
  }
  .link-2{
    top: 50%;
    left: -54%;
  }
  .link-3{
    top: 89%;
    left: -24%;
  }
  .link-4{
    top: 88%;
    left: 34%;
  }
  .link-5{
    top: 50%;
    left: 54%;
  }
  .link-6{
    top: 17%;
    left: 30%;
  }

}

// owner diff specific css // always at the end

.owner-owned{
  .in2{
    background-position: center;
    //background-repeat: no-repeat;
    background-image: url("@{baseImgLoc}owned.svg");
  }
}

.owner-wild{
  .umap .planet{
    background-color: @wildPlanetColor;
  }
}

.owner-ue{
  .umap .planet{
    background-color: @uePlanetColor;
  }
}
